# Project
PROJECT_NAME=moneymanager

# Auth
PUBLIC_CLIENT_URL=https://mm.home
PUBLIC_SERVER_URL=https://server.mm.home

# Server
SERVER_HOST=http://192.168.0.100
SERVER_PORT=3600

PUBLIC_MINIO_ENDPOINT=s3.mm.home
MINIO_USE_SSL="true"

# Client
CLIENT_HOST=http://192.168.0.100
CLIENT_PORT=3700

# DB
POSTGRES_USER=root
POSTGRES_PASSWORD=admin
POSTGRES_DB=moneymanager
POSTGRES_PORT=5433

# MiniIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=rootroot
MINIO_API_PORT=9000
MINIO_UI_PORT=9001
FILESTORAGE_HOST=http://192.168.0.100

#Auth
AUTH_ISSUER=MoneyManager
AUTH_AUDIENCE=MoneyManager
AUTH_SECRET=JySvANy2daXDEMDopyB5rlLIRC6qyGpnLoNnYkuqAWk