.fund-parameter{
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.fund-parameter .title{
    font-weight: 700;
    padding-left: .25rem;
    padding-bottom: 0.25rem;
    display: block;
}

.fund-parameter .value{
    border: #333 solid 2px;
    border-radius: 0.5rem;
    height: 1.5rem;
    padding-left: .5rem;
}

.fund-parameter .type{
    min-width: 5rem;
}
