.file-upload-container{
    margin: 1rem 0;
}
.file-upload-field{
    margin: .5rem 0;
    input{
        margin: .1rem 0;
        border: none;
        border-radius: 1rem;
        height: 1.5rem;
        padding-left: .5rem;
    }
}