.file-label{
    display: block;
}
.file-input{
    display: block;
}
.type-file{
    display: none;
}
.type-file-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.type-image{
    margin: 5px 0;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: block;
}
.type-add-button{
    display: block;
    width: 100px;
}
.type-button{
    height: 200px;
    border-radius: 50px;
    width: 200px;
    background: #333;
    color:transparent;
}
.type-button:hover{
    color: black;
}
.types-container{
    max-height: 600px;
    overflow: auto;
}
.transaction-type{
    display: flex;
    height: 100px;
    &:hover{
        background: rgba(15, 0, 0, 0.246);
        color: black;
    }
}