.file-label{
    display: block;
}
.file-input{
    display: block;
}
.type-file{
    display: none;
}
.type-file-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.type-image{
    margin: 5px 0;
    height: 75px;
    width: 75px;
    display: block;
    transform: scale(0.75);
}
.type-add-button{
    display: block;
    width: 100px;
}
.type-button{
    height: 200px;
    border-radius: 50px;
    width: 200px;
    background: #333;
    color:transparent;
}
.type-button:hover{
    color: black;
}
.types-container{
    max-height: 600px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    
}
.transaction-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;    
    cursor: pointer;
    &:hover{
        background: rgba(15, 0, 0, 0.246);
        color: black;
    }
}

.transaction-type-name{
    width: 75px;
    text-align: center;
    word-wrap: break-word;
}