.transaction{
    border:none;
    border-radius: 2rem;
    background: white;
    color:black;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #333;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    padding-right: .5rem;
    position: relative;
}

.icon{
    height: 1.5rem;
}

.date{
    margin-left: 1rem;
}

.name{
    margin-left: .5rem;
}

.expand{
    bottom: 0;
    position: absolute;
    right: 1rem;
}

.money-quantity{
    margin-left: .5rem;
}

.red{
    background-color: #A71111;
    color:white;
}
.green{
    background-color: #6FC23A;
}

.parameter{
    display: inline-block;
    margin-right: 1rem;
}

.parameter .title{
    display: block;
}

.parameter .value{
    display: block;
}

.buttons{
    margin-top: 1rem;
}

.cancel-btn, .add-btn{
    border: none;
    background-color: white;
    width: 7.5rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 1rem;
}