.fund-parameters{
    .fund-parameter{
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        .title{
            color: white;
            padding-left: .25rem;
            padding-bottom: .25rem;
            display: block;
        }
        .value{
            // #333 
            border: transparent solid 2px;
            border-radius: 2rem;
            height: 1.5rem;
            padding-left: .75rem;
            width: 80%;
        }
        .number{
            width: 200px;
        }
        .type{
            min-width: 5rem;
        }
    }
}