.fund-parameter{
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    .title{
        color: white;
        padding-left: .25rem;
        padding-bottom: 0.25rem;
        display: block;
    }
    .value{
        // #333 
        border: transparent solid 2px;
        border-radius: 2rem;
        height: 1.5rem;
        padding-left: .5rem;
    }
    .type{
        min-width: 5rem;
    }
    
}