.modal-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #33333357;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.modal{
    border-radius: 1rem;
    width: 30%;
    margin-left: 10%;
    background: white;
    margin-right: 10%;
    background: #D74850;
    .modal-header{
        width: 100%;
        background: #E4DDD3;
        // border-bottom: 1px solid black;
        margin-bottom: 0.5rem;
        display: flex;
        height: 35px;
        padding: .1rem 0;
        .modal-header-title{
            margin: 0;
            // font-weight: 600;
            font-size: 1.25rem;
            color: #323441;
            // padding: 0.25rem 0;
            padding-left: 0.75rem;
            width: 90%;
        }
        .modal-close{
            color: #D74850;
            font-weight: 600;
            border: none;
            background: none;
            cursor: pointer;
            width: 10%;
            border-radius: 0 1rem 0 0;
        }
    }
    .modal-content{
       color: white;
    }
    .modal-buttons{
        margin-bottom: 1rem;
        display: flex;
        justify-content: flex-end;
        .modal-button{
            height: 40px;
            margin: 0 .25rem;
        }
        .modal-confirm:hover{
            background-color: #00CC6A;
            color:white;
        }
        .modal-cancel:hover{
            color:white;
            background-color: #E4DDD3;;
        }
    }
    .modal-content, .modal-buttons{
        padding: 0 10px;
    }
}