.pagination-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.paging-element{
    height: 35px;
    padding: 0 10px;
    color: #414242;
    background:  white;
    margin: auto 0;
}
.paging-button{
    cursor: pointer;
    width: 40px;
    border: 0px solid black;
}
.page-previous{
    border-radius: 10px 0 0 10px;
    border-right: none
}
.page-next{
    border-radius: 0 10px 10px 0;
    border-left: none;
}
.current-month{
    display: flex;
    align-items: center;
    cursor: default;
}
.calendar-icon{
    padding-left: 10px;
    cursor: pointer;
}