.fund-container{
    display: inline-block;
    width: 250px;
    margin: 1rem 0;
    margin-right: 20px;
    height: 100px;
    background: rgba(255, 255, 255, 0.137);
    border-radius: 1rem;
    padding: .5rem;
    cursor: pointer;
    &:hover{
        background: rgb(87, 86, 86);
    }
}

.fund-container-new{
    border: white 2px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fund-container-stored{
    box-shadow: 2px 2px 2px 2px #333;
}