.app {
	display: grid;
	grid-template-rows: 64px 1fr 30px; /* Первая строка - хедер, вторая - основное содержимое */
}

.header {
	grid-row: 1;
	position: sticky;
	top: 0;
	z-index: 100;
}

.app-main {
	grid-row: 2;
	padding-top: 10px;
	width: 80%;
	min-height: 100vh;
	margin: 0 10%;
}